Source: dirvish
Section: admin
Priority: optional
Maintainer: Paul Slootman <paul@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://freecode.com/projects/dirvish

Package: dirvish
Architecture: all
Depends: ${misc:Depends}, rsync (>= 2.5.6-0.1), perl-modules, libtime-modules-perl, libtime-period-perl, ${perl:Depends}
Recommends: ssh (>= 3.4p1)
Description: Filesystem based backup system using rsync
 A utility to maintain multiple backups on online storage, each backup is
 available as a sort of snapshot directory, where common files are shared
 between the different backup generations. It uses rsync to do the actual
 copying.
 .
 Backups can be made locally or over the network (using ssh).
